{% extends 'ZephyrAdminCoreBundle::layout.html.twig'%}

{% block stylesheets %}
{{parent()}}
{% endblock %}

{% block javascripts %}
{{parent()}}

{% endblock %}

{% block body %}
{% if app.session.flashbag.get('notice') %}
	<div style="padding: 0 0 10px 0 !important;">
		{% for flashMessage in app.session.flashbag.get('notice') %}
			{{ flashMessage }}
		{% endfor %}
	</div>
{% endif %}
<div id="dashboard_entete"><h2>{{ 'administration.accueil.bienvenue'|trans }}</h2></div>


	{% for dmod in dashboard_module %}
		{% for dm in dmod %}
			{% if dm.titre is defined %}
				<div id="dashboard_entete" style="margin:20px 0;"><h2>{{dm.titre}}</h2></div>
			{% endif %}
			{% if dm.type == 'render' %}	
			 	{{ render(controller(dm.html ) ) }}  
			{% else %}
				{% include dm.html  %}
			{% endif %}	
		{% endfor %}	
	{% endfor %}
	
	<div class="clearfix"></div>
{% endblock %}