<!DOCTYPE html>
<html lang="en">
     <head>
     <title>{% block title %}Administration{% endblock %}</title>
     <meta charset="utf-8">
	 {% if app.request.attributes.get('_route') %}
	 <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" /> 
	 {% endif %}
     
	 <link rel="stylesheet" href="{{ asset('bundles/zephyradmincore/css/flags.css') }}" type="text/css" media="screen" />
	 <link rel="stylesheet" href="{{ asset('bundles/zephyradmincore/css/jquery-ui.css') }}" type="text/css" media="screen" />
	 <link rel="stylesheet" href="{{ asset('bundles/zephyradmincore/css/app/AppBundle.css') }}" type="text/css" media="screen" />
	 <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" type="text/css" media="screen" />
		 
	 {% block stylesheets %}{% endblock %}
     {% block stylesheets_admin %}{% endblock %}
     <script src="{{ asset('bundles/zephyradmincore/js/jquery.js') }}"></script>
     <script src="{{ asset('bundles/zephyradmincore/js/jquery-ui.min.js') }}"></script>
     <script src="{{ asset('bundles/zephyradmincore/js/bootstrap.min.js') }}"></script>

    <!--[if lt IE 9]>
     	<script src="{{ asset('bundles/zephyradmincore/js/html5shiv.js') }}"></script>
     	<link rel="stylesheet" href="{{ asset('bundles/zephyradmincore/css/ie.css') }}">
    <![endif]-->
	
	 {% block javascripts %}{% endblock %}
     </head>
     <noscript>
	 <div style="width:100%;height:40px;background-color:#ffff90;z-index:999999;position:relative;text-align:center;color:#000;">
		<b>{{'javascriptOFF'|trans}}</b>
		<br>
		{{'messageJavaOff'|trans}}
	 </div>
	 </noscript>
<body class="page1" id="top">
<div id="page">	
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	
	{% block leftmenu %}{{ include('ZephyrAdminCoreBundle:Default:menu_left.html.twig') }}{% endblock leftmenu %} 
	
{% endif %}

		<div class="header navbar-fixed-top">
				<div>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<a id="brand" href="#leftmenu"></a>
						<p>Administration</p>
					{% else %}
						<p>{{ 'connexion'|trans }}</p>
					{% endif %}
					
				</div>		
			</div>
			<div class="content">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<div id="chemin" style="text-align:left; width:100%; heigth:30px;">{{ chemin(app.request.attributes.get('_route') , app.request.get('_route_params'))|raw }}</div>
			{% endif %}
					{% for label, flashes in app.session.flashbag.all %}
						{% set nb = 0 %}
						<div class="flash flash_{{label}}">
						{% for flash in flashes %}
							{% if nb == 1 %}<br>{% endif %}
								{{ flash }}
							{% set nb = 1 %}
						{% endfor %}
						</div>
					{% endfor %}

					{% block fos_user_content %}{% endblock %}
					{% block body_admin %}{% endblock %}
					{% block body_site %}{% endblock %}	
				
			</div>
		{% if app.request.attributes.get('_route') %}

			<div class="footer">
				{% block footer %}{% endblock %}
			</div>
		{% endif %}
</div>

</body>
</html>

